In [1]:
import pandas as pd

In [10]:
import os

In [12]:
%pwd

'c:\\Users\\dell\\OneDrive\\Desktop\\MLOps-Projects-Folder\\Test-mlops-project\\research'

Wrong relative path â€“ Jupyter starts looking from the current working directory. If your notebook is not in the project root, the path may not align.

In [14]:
os.chdir("../")

In [15]:
%pwd

'c:\\Users\\dell\\OneDrive\\Desktop\\MLOps-Projects-Folder\\Test-mlops-project'

In [16]:
df = pd.read_csv("artifacts/data_ingestion/raw_data.csv")
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB